doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title fixed footer
  body
    .wrapper
      header.header Header
      .main-content
        .block.block_1
          .block__content Block content
        .block.block_2
          .block__content Block content
        .block.block_3
          .block__content Block content
      footer.footer
        .footer__part
          a.footer__link Footer Link Left
        .footer__part
          a.footer__link Footer Link Right