//colors
$mainColor: white;
$headerColor: #C0C0C0;
$blockColor: transparent;
$footerColor: #000000;
$linkColor: #D2691E;

//resolutions
$desktop: 1280px;
$laptop: 980px;
$tablet: 768px;
$smartphone: 480px;
$phone: 320px;