//colors
$mainColor: white;
$headerColor: #FFA07A;
$block1Color: #FF7F50;
$block2Color: #FF6347;
$block3Color: #FF4500;
$footerColor: #FF8C00;

//resolutions
$desktop: 1280px;
$laptop: 980px;
$tablet: 768px;
$smartphone: 480px;
$phone: 320px;